extends layout

block content
  script#task_item_template(type='text/template')
      <li data-task-id="<%= task.id %>"><i class="icon-move"></i><span data-type="text" class="editable-title"><%= task.get('desc') %></span>
      <button type="button" class="attach-pic btn btn-primary btn-xs">Attach picture</button>
      <div class="pic-preview hidden"><img src="#" alt="your image" style="width: 50px"></div>
      <form runat="server" class="hidden">
      <input type="file" class="imgInp">
      </form>
      </li>
  .container
    .masthead
      h3.text-muted Welcome to Clear Care
      ul.nav.nav-justified
        li.active
          a(href='/') Admin
        li
          a(href='/patients') Dashboard
        li
          a(href='#') About
        li
          a(href='#') Contact

    #examples
      #connected
        .content
          br
          a.profile-photo(href='/users/112')
            img(height=42 width=42 src='/images/profile.jpg')
            strong John Doe
          hr
        #new-task-div.row
          .col-xs-8.col-md-6
            a#new-task.btn.btn-primary(type='button', href='#') Add Custom Task
            p
            #popover_content_wrapper
              form#new-task-form.form-inline(role='form')
                  .form-group
                    input.form-control.input-sm(type='text', style='width: 420px;')
                  .form-group
                    button#new-task-submit.btn.btn-primary.btn-sm(type='button')
                      i.glyphicon.glyphicon-ok
                    button#new-task-cancel.btn.btn-default.btn-sm(type='button')
                      i.glyphicon.glyphicon-remove
          
         .row
          .col-xs-8.col-md-6
            .task_list
              h4 Drag and drop to re-arrange tasks:
              
              ol.simple_with_animation.vertical.task_group_in
          .col-xs-8.col-md-6
            .task_list
              h3 Un-assigned tasks:
              ol.simple_with_animation.vertical
                li
                  i.icon-move
                  span.editable-title Individual's laundry
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Medical appointments
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Work/school/social
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')

    //
       Site footer 
    .footer
      p © Company 2013
  //
     /container 
  //
     Bootstrap core JavaScript
        ================================================== 
  //
     Placed at the end of the document so the pages load faster 

