extends layout

block content
  .container
    .masthead
      h3.text-muted Welcome to Clear Care
      ul.nav.nav-justified
        li.active
          a(href='/') Admin
        li
          a(href='/patients') Dashboard
        li
          a(href='#') About
        li
          a(href='#') Contact

    #examples
      #connected
        .content
          br
          a.profile-photo(href='#')
            img(height=42 width=42 src='/images/profile.jpg')
          strong John Doe
          hr
        .row
          .col-xs-6.col-md-4
            .task_list
              h4 Drag and drop to re-arrange tasks:
              ol.simple_with_animation.vertical
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Complete/partial bath
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Dress/undress
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Assist with toileting
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Transferring
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Personal grooming
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Assist with eating/feeding
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Ambulation
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Turn/Change position
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Vital Signs
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Assist with self-administration medication
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Bowel/bladder
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Wound care
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span ROM
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Supervision
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Prepare breakfast
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Prepare lunch
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Prepare dinner
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Clean kitchen/wash dishes
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Make/change bed linen
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Clean areas used by individual
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  a.editable-title(href='#')
                    span Listing supplies/shopping
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
          .col-xs-6.col-md-4
            .task_list
              h4 Un-assigned tasks:
              ol.simple_with_animation.vertical
                li Individual's laundry
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li Medical appointments
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li Work/school/social
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')

    //
       Site footer 
    .footer
      p © Company 2013
  //
     /container 
  //
     Bootstrap core JavaScript
        ================================================== 
  //
     Placed at the end of the document so the pages load faster 

