extends layout

block content
  .container
    .masthead
      h3.text-muted Welcome to Clear Care
      ul.nav.nav-justified
        li.active
          a(href='/') Admin
        li
          a(href='/patients') Dashboard
        li
          a(href='#') About
        li
          a(href='#') Contact

    #examples
      #connected
        .content
          br
          a.profile-photo(href='/users/112')
            img(height=42 width=42 src='/images/profile.jpg')
            strong John Doe
          hr
        #new-task-div.row
          .col-xs-8.col-md-6
            a#new-task.btn.btn-primary(type='button', href='#') Add Custom Task
            p
            #popover_content_wrapper
              form#new-task-form.form-inline(role='form')
                  .form-group
                    input.form-control.input-sm(type='text', style='width: 420px;')
                  .form-group
                    button#new-task-submit.btn.btn-primary.btn-sm(type='button')
                      i.glyphicon.glyphicon-ok
                    button#new-task-cancel.btn.btn-default.btn-sm(type='button')
                      i.glyphicon.glyphicon-remove
          
         .row
          .col-xs-8.col-md-6
            .task_list
              h4 Drag and drop to re-arrange tasks:
              
              ol.simple_with_animation.vertical.task_group_in
                li
                  i.icon-move
                  span.editable-title Complete/partial bath
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Dress/undress
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Assist with toileting
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Transferring
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Personal grooming
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Assist with eating/feeding
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Ambulation
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Turn/Change position
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Vital Signs
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Assist with self-administration medication
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Bowel/bladder
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Wound care
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title ROM
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Supervision
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Prepare breakfast
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Prepare lunch
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Prepare dinner
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Clean kitchen/wash dishes
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Make/change bed linen
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Clean areas used by individual
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Listing supplies/shopping
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
          .col-xs-8.col-md-6
            .task_list
              h3 Un-assigned tasks:
              ol.simple_with_animation.vertical
                li
                  i.icon-move
                  span.editable-title Individual's laundry
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Medical appointments
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')
                li
                  i.icon-move
                  span.editable-title Work/school/social
                  button.attach-pic.btn.btn-primary.btn-xs(type='button') Attach picture
                  div.pic-preview.hidden
                    img(src='#', alt='your image', style='width: 50px')
                  form.hidden(runat='server')
                    input.imgInp(type='file')

    //
       Site footer 
    .footer
      p © Company 2013
  //
     /container 
  //
     Bootstrap core JavaScript
        ================================================== 
  //
     Placed at the end of the document so the pages load faster 

