doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //
       Bootstrap core CSS 
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(href="/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet")
    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/javascripts/jquery-sortable.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/bootstrap3-editable/js/bootstrap-editable.js')
    script(src='http://www.parsecdn.com/js/parse-1.2.15.min.js')
    //script(src='/javascripts/bootstrap-tooltip.js')
    //if lt IE 9
      script(src='../../docs-assets/js/ie8-responsive-file-warning.js')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')

    script(src='/javascripts/application.js')
  body
    block content
