extends layout

block content
  script#log_entry_template(type='text/template')
      <tr>
      <td><%= moment(log.createdAt).format('MMM Do, h:mm a') %></td>
      <td><%= log.get('desc') %></td>
      <td class="<%= (log.get('status') === "No" || log.get('status') === "Confirmed")? "positive" : "negative" %>"><%= log.get('status') %></td>
      <td><%= log.get('comments') %></td>
      </tr>

  .container
    .masthead
      div(style='margin-bottom: 10px;')
        img(height=42 width=42 src="/images/homecareiq_logo.png")
        | &nbsp;
        img(height=20 src="/images/homecareiq_name.png")
      ul.nav.nav-justified
        li
          a(href='/') Admin
        li.active
          a(href='/patients') Dashboard
        li
          a(href='#') About
        li
          a(href='#') Contact


     .content
       br
       a.profile-photo(href='#')
         img(height=42 width=42 src='/images/profile.jpg')
       strong Elizabeth Randall
       hr
     table.table.table-striped
      thead
        tr
          th Time
          th Task
          th Status
          th Comments
      tbody
    hr
    h3 Duration:&nbsp;
      span.duration 5 hours, 55 mins

    //
       Site footer 
    .footer
      p © Company 2013
  //
     /container 
  //
     Bootstrap core JavaScript
        ================================================== 
  //
     Placed at the end of the document so the pages load faster 
    script(src='/javascripts/show_patient.js')

